anyio==3.6.1
fastapi==0.78.0
gunicorn==20.1.0
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.13.2
hyperframe==6.0.1
idna==3.3
numpy==1.23.0
pandas==1.4.3
priority==2.0.0
psycopg2==2.9.3
pydantic==1.9.1
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.39
starlette==0.19.1
toml==0.10.2
typing_extensions==4.2.0
wsproto==1.1.0
